@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  border: 0;
}
input {
  border: none;
}
header, footer, article, section, nav, menu, hgroup {
  display: block; 
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: normal;
}
.clear {
  clear: both;
}
body {
  color: #555;
  line-height: 1.7em;
  background-color: #f7fafc;
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
}
.content {
  width: 300px;
  margin: 65px auto;
  text-align: center;
}
header {
 padding: 0;
}
header h1 {
  width: 160px;
  height: 74px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
}
header p {
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
  margin: 30px 0 20px;
}
section .tabchange{
  margin-bottom: 10px;
}
section .tabs {
  display: inline-block;
  position: relative;
  font-size: 18px;
}
section .tabs a {
  line-height: 35px;
  opacity: 0.7;
  color: #555;
  width: 72px;
  float: left;
  transition: opacity .15s, color .15s;
}
section .tabs a:hover {
  opacity: 1;
}
section .tabs a.active {
  color: #0f88eb;
  opacity: 1;
}
.indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 .8em;
  width: 2.4em;
  height: 2px;
  background-color: #0f88eb;
  transition: left .15s ease-in;
}
#register {
  display: block;
}
.tabcontent {
  display: none;
}
.form-input {
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  overflow: hidden;
  padding: 1px 0;
}
/*.input-item {
  border-top: 1px solid #d5d5d5;
}*/
input[type="text"] {
 width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: #555;
  padding: 1em .8em;
  box-sizing: border-box;
  outline: 0;
}
.input-item:not(:first-child) {
  border-top: 1px solid #d5d5d5;
}
input::-webkit-input-placeholder {
  opacity: 0.2;
}
input:-ms-input-placeholder {
  opacity: 0.2;
}
input::-moz-placeholder {
  opacity: 0.2;
}
input:-moz-placeholder {
  opacity: 0.2;
}
.login {
  margin-top: 18px;
}
button.sign-btn {
  display: block;
  width: 100%;
  color: #fff;
  line-height: 41px;
  font-size: 15px;
  outline: 0;
  border: 0;
  box-shadow: 0;
  border-radius: 3px;
  background-color: #0f88eb;
  text-align: center;
  cursor: pointer;
}
button.sign-btn:hover {
  background-color: #55abed;
}
p.agree-tip {
  color: #999;
  font-size: 13px;
  text-align: center;
  margin-top: 21px;
}
p.agree-tip a {
  color: #698ebf;
}
.other-login div{
  margin-top: 18px;
}
.other-login a {
  font-size: 14px;
  color: #555;
  line-height: 1.7em;
}
a.phlogin {
  float: left;
  color: #5ca5e8;
}
.notlogin {
  float: right;
}
.otherstyle a {
  float: left;
}
.DLapp {
  margin-top: 48px;
}
#login .DLapp {
  margin-top: 24px;
}
button.DL-btn {
  display: block;
  width: 100%;
  color: #5fa6e5;
  font-size: 14px;
  line-height: 39px;
  border: 1px solid #5fa6e5;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
  background: transparent;
}
footer {
  font-size: 12px;
  text-align: center;
  color: #aebdc9;
  line-height: 21px;
}
span.dot {
  margin: 0 3px;
}
footer p a {
  color: #aebdc9;
}
footer p a:hover {
  text-decoration: underline;
}
p.phstyle {
  display: none;
}
.chengxin {
   width: 420px;
   margin: 10px auto;
   padding-top: 10px;
   border-top: 1px solid #ebeef9;
}
.chengxin img {
  width: 138px;
}
.fankui {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
}
.fankui a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  border: 0;
  outline: 0;
  text-align: center;
}
.fankui a:hover {
  background:  url(hover.png) no-repeat center center;
}
.fankui a img {
  padding-top: 11px; 
}
@media screen and (max-width: 740px) {
  .content {
    margin: auto;
    padding: 30px 0 0;
    width: 300px;
  }
  header h1 {
    width: 96px;
    height: 44.4px;
  }
  footer {
    padding-bottom: 60px;
    line-height: 42px;
  }
  .chengxin {
    display: none;
  }
  .pcstyle {
    display: none;
  }
  p.phstyle {
    display: block;
  }
}
